.container {  display: grid;
  grid-template-columns: 20% 1fr 1fr 20%;
  grid-template-rows: 50px 1fr 1fr 50px;
  grid-auto-columns: 1fr;
  gap: 15px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header"
    ". goats goats ."
    ". results results ."
    "footer footer footer footer";
}

.header { grid-area: header; }

.footer { grid-area: footer; }

.results { grid-area: results; }

.goats {
  grid-area: goats;
  display: flex;
}


.header, .footer, .picture1, .picture2, .results {
  border: 1px solid black;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

img {
  width: 125px;
}
