/* .parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  }

  .header { grid-area: 1 / 1 / 2 / 6; }
  .footer { grid-area: 5 / 1 / 6 / 6; }
  .nav { grid-area: 2 / 1 / 5 / 2; }
  .ads { grid-area: 2 / 5 / 5 / 6; }
  .content { grid-area: 2 / 2 / 5 / 5; } */

  .parent {
    display: grid;
    grid-template-columns: 150px 5fr 150px;
    grid-template-rows: 100px 10fr 100px;
    gap: 15px 15px;
    grid-template-areas:
      "header header header"
      "nav content ads"
      "footer footer footer";
  }
  .nav { grid-area: nav; }
  .content { grid-area: content; }
  .ads { grid-area: ads; }
  .header { grid-area: header; }
  .footer { grid-area: footer; }


  header, footer, nav, aside, article {
    border: 1px solid black;
  }
